*{
padding: 0;
margin:0;
}
body{
    background-color:rgb(238, 238, 220) ;
}
.food{
    width:100%;

}
.container{
    width:80%;
    margin:1vw auto;
    

}
.head{
    color: rgb(17, 17, 71);
    font-family: cursive;
    margin:1vw;
    font-size: 3.4vw;
    text-align: center;

    
}
.buttons{
    width:100%;
    background-color: rgb(230, 223, 223);
    text-align: center;
    padding: 1vw;
    margin:1vw 0 2vw;
    border-radius:5px;
}
.links{
    color:white;
    background-color:#e73b14;
    padding: .8vw;
    margin:0 .7vw;
    border: none;
    cursor: pointer;
    outline:none;
    font-size: 1.3vw;
    border-radius: 10px;
}
.links:hover{
    background-color: rgb(230, 11, 55);
}
.item{
    width:45%;
    float: left;
    height: 15vw;
    padding: .1vw;
    background-color: rgb(252, 247, 247);

    margin: 1vw;
    position: relative;
}
img{
    float: left;
    margin-top: 0;
    height: 15.1vw;
}
.content{
   width: 100%;
   text-align: center;
   margin:0 3vw
}
.item h1{
    padding: .5vw;
    padding-top: .8vw;
}
.item p{
    color:rgb(87, 85, 85);
    letter-spacing: 2px;
    padding: .2vw

}
.price{
    color :green !important;
    font-size: 2vw;
    width: 10vw;
    text-align: right;
    float: right;
    padding-right: 9vw !important;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right:0vw;
}
    
